/* Importing Bootstrap SCSS file. */
@import "~bootstrap/dist/css/bootstrap.css";

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container-background {
  background-color: #ebebeb;
}

/* styling for header section of calculations */

.header {
  min-height: 400px;
  padding-top: 100px;
}

.header-title {
  font-size: 1.2em;
  font-weight: 400;
}

@media (max-width: 767px) {
  .header-title {
    font-size: 1em;
  }
}

.header-result {
  font-size: 1.3em;
  font-weight: 300;
  color: #333;
  margin: 1em;
  min-width: 100px;
}

.header-dropdown select {
  min-width: 100px;
  margin: 1em;
}

.main-input {
  min-width: 100px;
  max-width: 100px;
  height: 34px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-dropdown select {
  min-width: 100px;
  margin: 1em;
}

.active {
  color: #DB5B14!important;
  font-style: bold;
}

.nav-link:hover {
  background-color: #707070;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-arrow select {
  appearance: none;
	padding: 5px;
	background-color: #648330;
	color: white;
	border: none;
	font-family: inherit;
	outline: none;
}

.main-dropdown select {
  background-color: #648330;
  color: white;
}
