.header-background {
  transition: transform 0.35s ease-out;
  transition-delay: 0.15s;
}

.container-fluid svg {
  margin-left: 1em;
}

.navbar {
  height: 100px;
}

.navbar-nav li {
  border-bottom: none!important;
}

svg {
  margin: 0em 0.7em 0.7em 0em;
}

.container a {
  color: #640000;
}

.header-background {
  background-color: #f6f6f6;
  position: fixed;
  width: 100%;
}

/* Navbar_Icon_Code */

.navbar-toggler {
  width: 20px;
  height: 20px;
}

.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: 0;
  position: fixed;
  right: 4%;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 2px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 10px;
  transform: rotate(0deg);
}

/* Color of  lines */

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    300deg,
    rgba(252, 74, 74, 1) 0%,
    rgba(100, 10, 10, 1) 100%
  );
}

.navbar-nav li {
  border-bottom: 1px solid white;
}

.navbar-nav li a {
  color: #640000;
}

#offcanvasRightLabel {
  color: #640000;
}
