<div class="container">
    <div class="container ps-0 my-5">
        <img class="d-inline me-4" src="/assets/images/calculator_icon.png" height="77px" width="77px">
        <h3 class="d-inline home-title">Deine Umrechnungen</h3>
    </div>

    <div class="main mb-5">
        <div class="main-container" id="home-content">
            
            <div class="home">
                <div class="home-image" style="background-image: url(/assets/images/calc1_img.jpg);"></div>
                <div class="home-content">
                    <div class="home-title"><h4>Alkoholausbeute im Most</h4></div>
                    <div class="home-text">Most steht für unvergorenen oder angegorenen Fruchtsaft – im Weinanbau logischerweise Saft aus Trauben - deshalb auch Traubenmost genannt. Most ist also üblicherweise die Vorstufe zum Wein.
                        Je nach Zuckergehalt des Mostes, also je nach Reife der Trauben, sowie der Art der Hefen, und je nach Gärtemperatur, können im fertigen Wein zwischen 40 und maximal 144 g/l Alkohol - was 18,2% vol. entsprechen.</div>
                    <div class="home-button-calc d-inline"><button class="btn mt-4"><a href="/calculation1">Berechnung</a></button></div>
                </div>
            </div>

            <div class="home">
                <div class="home-image" style="background-image: url(/assets/images/calc2_img.jpg);"></div>
                <div class="home-content">
                    <div class="home-title"><h4>Restsüßeverleihung mit RTK</h4></div>
                    <div class="home-text">Von den Verkäufern von RTK werden – wenn angefordert - Excel-Tabellen per Email zugesandt, welche die notwendigen RTK-Mengen nach Eingabe von Anreicherungsspanne und Mostmenge berechnen und darstellen. Das ist aber auch mittels Rechnen möglich:
                        Die notwendige Zuckermenge für eine Anreicherung mit Saccharose wird ermittelt und in einem Dreisatz daraus die RTK-Menge berechnet. In RTK liegt der Zucker als sogenannter Invertzucker vor. Dies ist ein Gemisch aus den Zuckern Glucose und Fructose.</div>
                    <div class="home-button-calc d-inline"><button class="btn mt-4"><a href="/calculation2">Berechnung</a></button></div>
                </div>
            </div>

            <div class="home">
                <div class="home-image" style="background-image: url(/assets/images/calc3_img.jpg);"></div>
                <div class="home-content">
                    <div class="home-title"><h4>Alkoholerhöhung im Most</h4></div>
                    <div class="home-text">Nicht in jedem Jahr erreichen die Trauben den Zuckergehalt, aus dem die Hefe bei der alkoholischen Gärung den für die Weinqualität notwendigen Alkohol erzeugen kann. Bei der Anreicherung wird der natürliche Alkoholgehalt
                        meist durch Zugabe von Saccharose erhöht. Um den Anreicherungsbedarfes eines Weines korrekt zu ermitteln,
                        wird mit Hilfe von Tabellen oder der Formel gerechnet. </div>
                    <div class="home-button-calc d-inline"><button class="btn mt-4"><a href="/calculation3">Berechnung</a></button></div>
                </div>
            </div>
            
        </div>

    </div>
</div>

