<form [formGroup]="calculation2Form" (ngSubmit)="onSubmit()" #f="ngForm" >

    <div formGroupName="userData">

        <div class="container-background" >
            <div class="container">
                <div class="header">

                    <div class="header-main pt-4">
                        <img class="header-img d-inline me-3" src="/assets/images/calculator_icon.png" height="60px" width="60px">
                        <h3 class="header-title d-inline">Restsüßeverleihung mit RTK</h3>
                    </div>
                    
                    <div class="header-container pt-4 row d-flex align-items-center">
                        <div class="header-content d-flex align-items-center">
                            
                            <div class="header-result col-md-7">
                                <span 
                                    *ngIf="calculation2Form.get('userData.restzuckergewünscht')?.valid && calculation2Form.get('userData.brix')?.valid && calculation2Form.get('userData.weinmenge')?.valid">
                                    {{calculation2Form.get("userData.result")?.value}} {{selectedUnit}} rektifiziertes Konzentrat
                                </span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                
                <div id="main-content" class="main-content">
                    <div class="main-title col-md-7">Restzucker gewünscht</div>
                    <div class="position-relative">
                        <input 
                            class="main-input col-md-3 form-control" 
                            type="number"
                            name="restzuckergewünscht"
                            formControlName="restzuckergewünscht"
                        >
                        <div id="help-block-eingabe" class="help-block" *ngIf="!calculation2Form.get('userData.restzuckergewünscht')?.valid && calculation2Form.get('userData.restzuckergewünscht')?.touched">Gebe einen Wert von 1-100 ein!</div>
                    </div>
                    <div class="main-dropdown dropdown col-md-2 select-arrow">
                        <select name="membership" id="membership" class="btn">
                            <option value="g/l" selected>g/l</option>
                        </select>
                    </div>
                </div>
    
                <div class="main-content">
                    <div class="main-title col-md-7">°Brix</div>
                    <div class="position-relative">
                        <input 
                            class="main-input col-md-3 form-control" 
                            type="number"
                            name="brix"
                            formControlName="brix"
                        >
                        <div id="help-block-eingabe" class="help-block" *ngIf="!calculation2Form.get('userData.brix')?.valid && calculation2Form.get('userData.brix')?.touched">Gebe einen Wert von 1-300 ein!</div>
                    </div>
                    <div class="main-dropdown dropdown col-md-2 select-arrow">
                        <select class="btn">
                            <option value="free">°Grad</option>
                        </select>
                    </div>
                </div>
    
                <div class="main-content">
                    <div class="main-title col-md-7">Weinmenge</div>
                    <div class="position-relative">
                        <input 
                            class="main-input col-md-3 form-control" 
                            type="number"
                            name="weinmenge"
                            formControlName="weinmenge"
                        >
                    <div id="help-block-eingabe" class="help-block" *ngIf="!calculation2Form.get('userData.weinmenge')?.valid && calculation2Form.get('userData.weinmenge')?.touched">Gebe einen positiven Wert ein!</div>
                    </div>
                    <div class="main-dropdown dropdown col-md-2">
                        <select name="membership" id="membership" class="btn" (change)="onChangeSelectedVolume($event)" (change)="onChangeUnitVol($event)">
                            <option value="l">l</option>
                            <option value="hl">hl</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>